@model SpartanSpots.Models.Image

@{
    ViewBag.Title = "Add Image";
}

<h2>Add an Image</h2>

<form method="post" enctype="multipart/form-data" action="/Image/Create">

    <div>
    <span>
     Name:
   </span>
   <span>
     <input type="text" id="Name" name="Name" />
   </span>
  </div>
      <div>
    <span>
     BusinessId:
   </span>
   <span>
     @Html.DropDownList("BusinessId", String.Empty)
     @Html.ValidationMessageFor(model => model.BusinessId)
   </span>
  </div>
  <div>
    <span>
      Alternate Text:
    </span>
    <span>
     <input type="text" id="AlternateText" name="AlternateText" />
    </span>
  </div>
  <div>
    <span>
      Image
    </span>
    <span>
      <input type="file" id="OriginalLocation" name="OriginalLocation" />
    </span>
  </div>
  <div>
    <input type="submit" value="Upload" />
  </div>
</form>




<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
